{% extends 'produkty/base.html' %}

{% block title %}
Podsumowanie Ekspozycji
{% endblock %}

{% block content %}
<h1>Podsumowanie Ekspozycji</h1>
<ul>
    {% for grupa in dane_podsumowania %}
        <li>
            <h2>{{ grupa.grupa }}</h2>
            <ul>
                {% for marka in grupa.marki %}
                    <li>{{ marka.marka.nazwa }}: {{ marka.liczba }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
<div class="action-buttons">
    <a href="{% url 'produkty:home' %}" class="btn btn-secondary">Powrót do strony głównej</a>
    <a href="{% url 'produkty:ekspozycja_export' %}" class="btn btn-primary">Eksportuj do Excel</a>
</div>
{% endblock %}