{% extends 'produkty/base.html' %}

{% block title %}Importuj plik Excel{% endblock %}

{% block content %}
    <h2>Importuj plik Excel</h2>
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" required>
        <button type="submit">Załaduj</button>
    </form>

    <br><br>

    <h3>Usuwanie wszystkich modeli</h3>
    <form method="post" action="{% url 'produkty:delete_all_models' %}" onsubmit="return confirm('Czy na pewno chcesz usunąć wszystkie modele? Tej operacji nie można cofnąć!');">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Usuń wszystkie modele</button>
    </form>

    <br><br>

    <a href="{% url 'produkty:home' %}">Wróć do strony głównej</a>
{% endblock %}