{% extends 'produkty/base.html' %}

{% block title %}Rejestracja Sprzedaży{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Rejestracja Sprzedaży</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="data_sprzedazy">Data Sprzedaży:</label>
            <input type="date" id="data_sprzedazy" name="data_sprzedazy" required>
        </div>
        <div class="form-group">
            <label for="modele_sprzedazy">Modele sprzedane (każdy model w nowej linii):</label>
            <textarea id="modele_sprzedazy" name="modele_sprzedazy" rows="10" cols="50" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Zapisz Sprzedaż</button>
    </form>
</div>
<div class="action-buttons" style="margin-top: 20px;">
    <a href="{% url 'produkty:home' %}" class="btn btn-secondary">Wróć do strony głównej</a>
</div>
{% endblock %}